<div class="blog-contact">
  <h3 [innerText]="'Get In Touch'"></h3>
  <div class="blog-contact-introduction">
    <div class="blog-contact-image"></div>
    <p>Thanks for checking out this article! If you have any questions or are curious to learn more about Angular, feel
      free to send me a connection request and shoot me a message. I'm always happy to help out!</p>
  </div>
  <div class="link-wrapper">
    <app-linkedin-icon></app-linkedin-icon>
    <a href="https://www.linkedin.com/in/bensegni" target="_blank">linkedin.com/in/bensegni</a>
  </div>
</div>