<div>
  <h5>Project Feedback</h5>
  @if (feedback$ | async; as feedback) {
    <ul class="feedback">
      @for (recommendation of feedback; track recommendation) {
        <li>
          <img src="{{ recommendation.avatar }}" alt="{{ recommendation.avatar | altText }}">
          <p><mark>{{ recommendation.title }}<span>&#64;{{ recommendation.company }}</span></mark></p>
          <p [innerHTML]="recommendation.feedback"></p>
        </li>
      }
      <li>
        <app-feedback-link></app-feedback-link>
      </li>
    </ul>
  }
</div>
