<ul class="table" [ngClass]="isEmployment() ? '' : 'table-project'">
  @for (use of skillsUsage(); track use) {
    <li class="row" [ngStyle]="{ borderColor: use.skill | pill, gridColumnEnd:  'span' + ' ' + (use.usage + 15)   }"
      >
      <img [src]="use.skill | logo" role="presentation" [alt]="use.skill | altText">
      <span class="row-detail">{{ (use.usage / 100) | percent }}</span>
      <div class="skill-opacity-layer" [ngStyle]="{ backgroundColor: use.skill | pill }"></div>
    </li>
  }
</ul>