.tag-line {
    color: $white;
    padding: 2rem 0;
}

.angular-version {
    @include flex();
    color: $white;
    font-size: .75rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $black_alpha_9;
    margin: 0;
    padding: 1rem 0;
    img {
        margin: 0 .5rem;
    }
}