@mixin mobile-header {
    @include background-image-config('background.webp', 100vmax);
    padding-bottom: 1rem;
}

@mixin background-image-config($name, $size, $no-repeat: true) {
    background-image: url('../../img/#{$name}');
    background-attachment: fixed;
    background-size: $size;

    @if($no-repeat) {
        background-repeat: no-repeat;
    }
}

@mixin skill-pill {
    @include flex();
    justify-content: flex-start;
    align-items: center;
    font-size: .75rem;
    padding: .25rem .75rem;
    color: $white;
    border: 0.125rem solid grey;
    border-radius: 10rem;
    margin-top: .5rem;
    margin-right: .5rem;
    line-height: 1.5rem;

    img {
        width: 1rem;
        height: 1rem;
        margin: 0 .25rem 0 0;
        border: 0;
        border-radius: 0;

        @include tablet {
            margin: 0;
        }

        @include mobile {
            margin: 0;
        }

        @include small-mobile {
            margin: 0;
        }

        @include small-desktop {
            margin: 0;
        }
    }

    @include tablet {
        width: 1rem;
        height: 1rem;
        margin: 0 .25rem .25rem 0;
    }

    @include mobile {
        width: 1rem;
        height: 1rem;
        margin: 0 .25rem .25rem 0;
    }

    @include small-mobile {
        width: 1rem;
        height: 1rem;
        margin: 0 .25rem .25rem 0;
    }

    span {
        @include tablet {
            @include mobile-hidden();
        }

        @include mobile {
            @include mobile-hidden();
        }

        @include small-mobile {
            @include mobile-hidden();
        }
    }
}

@mixin skills-header() {
    width: 100%;
    margin: 1rem 0 0 9rem;
    color: grey;
    padding: 0;

    @include tablet {
        margin: 1rem 0 0 0rem;
    }

    @include mobile {
        margin: 1rem 0 0 0rem;
    }

    @include small-mobile {
        margin: 1rem 0 0 0rem;
    }
}

@mixin mobile-height {
    height: 15rem;
}

@mixin mobile-width {
    @include tablet {
        @include mobile-height();
        @include span-90();
    }

    @include mobile {
        @include mobile-height();
        @include span-90();
    }

    @include small-mobile {
        @include mobile-height();
        @include span-90();
    }
}

@mixin loading-graphic-config($size) {
    @include flex;
    @include flex-column();
    @include flex-center();
    height: $size;
    width: $size;
    @include background-image-config('loading_icon.svg', 100%, true);
    background-position: center center;
    animation: rotation 1s infinite linear;
    border-radius: 100rem;
    border: 1px solid $black;
}

@mixin loading-graphic-image {
    position: absolute;
    margin: 0;
    height: 2.5rem;
    width: 2.5rem;
    border: none;
}

@mixin no-margin {
    margin: 0;
}

@mixin content-link {
    color: grey;
    border-bottom: 1px dotted $white;

    &:hover {
        color: $white;
        border-bottom: 1px dotted $blue_1;
    }

    &:visited {
        color: $blue_alpha_6;
        border-bottom: 1px dotted $blue_alpha_6;
    }
}

@mixin rotate {
    animation: rotation 900ms;

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}

@mixin grow {
    animation: grow 900ms;

    @keyframes grow {
        from {
            transform-origin: top center;
            transform: scaleY(0);
            opacity: 0;
        }

        to {
            transform-origin: top center;
            transform: scaleY(100%);
            opacity: 1;
        }
    }
}