@mixin full-width {
    width: 100%;
}

.navigation {
    @include flex();
    justify-content: center;
    align-items: center;
    background-color: $black;
    border-bottom: 0.0625rem solid $black;
    @include span-100();

    li {
        padding: 1.25rem 0;
        border: 0;
        cursor: pointer;
        border-bottom: 0.0625rem solid transparent;
        min-width: 12rem;

        .active {
            font-weight: 500;
            color: $blue_1;
        }

        a {
            color: $white;

            @include tablet {
                @include full-width();
                font-size: 1.25rem;
                border-bottom: 0.0625rem dotted $blue_2;
            }

            @include mobile {
                @include full-width();
                font-size: 1.25rem;
            }

            @include small-mobile {
                @include full-width();
                font-size: 1.25rem;
            }
        }

        &:hover {
            background-color: $blue_alpha_6;
            border-bottom: 0.0625rem solid $white;
        }

        &:active {
            background-color: $black;
        }

        @include tablet {
            @include full-width();
            border-bottom: 0.0625rem dotted $blue_2;
        }

        @include mobile {
            @include full-width();
            border-bottom: 0.0625rem dotted $blue_2;
        }

        @include small-mobile {
            @include full-width();
            border-bottom: 0.0625rem dotted $blue_2;
        }
    }

    @include tablet {
        @include flex-column();
        border-bottom: 1px dotted $white;
    }

    @include mobile {
        @include flex-column();
        border-bottom: 1px dotted $white;
    }

    @include small-mobile {
        @include flex-column();
        border-bottom: 1px dotted $white;
    }
}

.tab-link {
    display: block;
    min-width: 12rem;

    .active {
        font-weight: 500;
        color: $blue_1;
        border-bottom: 0.1rem dotted $white;
    }
}