@mixin mobile-header {
    @include hero('background.jpg', 100vmax);
    padding-bottom: 1rem;
}

@mixin hero($name, $size) {
    background-image: url('../../img/#{$name}');
    background-attachment: fixed;
    background-size: $size;
    background-repeat: no-repeat;
}

.header-section {
    @include flex();
    @include flex-column();
    @include span-100();
    justify-content: center;
    align-items: center;
    padding: 7rem 0 3rem 0;
    @include hero('background.jpg', 100%);


    @include tablet {
        @include hero('background.jpg', 100vmax);
    }

    @include mobile {
        @include mobile-header();
    }

    @include small-mobile {
        @include mobile-header();
    }

    p {
        @include tablet {
            @include span-95();
        }
    }
}