.presentation-link {
    padding: 0rem 0 2rem 0;

    a {
        @include content-link();
    }

    @include flex();
    justify-content: flex-start;
    align-items: center;

    svg {
        fill: var(--text-color);
        margin-right: 1rem;
    }
}