<div class="social-media-icon-wrapper">
  <a
    href="https://www.behance.net/BenSegni"
    target="_blank"
    aria-label="behance link"
  >
    <app-behance-icon></app-behance-icon>
  </a>
  <a
    href="https://github.com/BenSegni"
    target="_blank"
    aria-label="github link"
  >
    <app-github-icon></app-github-icon>
  </a>
  <a
    href="https://www.linkedin.com/in/bensegni/"
    target="_blank"
    aria-label="linkedIn link"
  >
    <app-linkedin-icon></app-linkedin-icon>
  </a>
  <a
    href="https://www.npmjs.com/~bensegni"
    target="_blank"
    aria-label="npm link"
  >
    <app-npm-icon></app-npm-icon>
  </a>
  <!-- <app-recent-blog-post class="blog-article-mobile"></app-recent-blog-post> -->
  <app-theme-toggle-button class="theme-toggle-button"></app-theme-toggle-button>
</div>
