<div class="about-tabs">
    <h3 class="tab-link"><a routerLink="about-me" routerLinkActive="active">About</a></h3>
    <h3 class="tab-link"><a routerLink="employment" routerLinkActive="active">Employment</a></h3>
    <h3 class="tab-link"><a routerLink="education" routerLinkActive="active">Education</a></h3>
    <h3 class="tab-link"><a routerLink="technologies" routerLinkActive="active">Technologies</a></h3>
    <h3 class="tab-link"><a routerLink="toolkit" routerLinkActive="active">Toolkit</a></h3>
</div>
