<span class="filter-wrapper">
    <button class="filter-button" (click)="openCloseFilter()" [ngClass]="filteredShowcaselength ? 'mobile-margin'  : ''"><img [src]="filterIcon"
            [alt]="filterIcon | altText"></button>
    <ul *ngIf="showFilterList" class="showcase-type-dropdown">
        <li *ngFor="let option of options"><button (click)="triggerFilter(option)"><img [src]="option | logo"
                    [alt]="option | logo | altText"> {{ option }}</button></li>
        <li class="reset"><button (click)="resetFilter()">Reset Filter</button></li>
    </ul>
    <p *ngIf="filteredShowcaselength">Showing <span>{{ filteredShowcaselength }}</span> of <span>{{
            showcaseLength }}</span> items <ng-container *ngIf="selectedOption">filtering <span class="option"><img
                    [src]="selectedOption | logo" [alt]="selectedOption | logo | altText"><q><a [href]="selectedOption | filterLink" target="_blank">{{ selectedOption
                    }}</a></q></span></ng-container></p>
</span>