body {
  background-color: #323630;
  color: #555953;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

header {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0;
}

header a {
  height: auto;
  width: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

header svg {
  fill: white;
}

section {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  line-height: 100%;
}

h1 {
  font-size: 2rem;
  color: #757973;
}

h2 {
  color: #d1dc0a;
  font-size: 4rem;
}

h5 {
  color: #757973;
}

ul {
  padding: 0;
}

ul li {
  padding: 0.5rem 0;
}

.role {
  padding: 1rem 0;
  color: #757973;
}

.separator {
  display: flex;
  justify-content: space-between;
  width: 140%;
  margin-left: -4rem;
  margin-bottom: 2rem;
}

.separator span {
  width: 10vw;
  height: 10vh;
  background-color: #555953;
  transform: skew(315deg, 360deg);
  -webkit-transform: skew(315deg, 360deg);
  -moz-transform: skew(315deg, 360deg);
}

.technology-stack {
  color: #757973;
  margin: 2rem 0;
}

.projects {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  margin-bottom: auto;
}

.projects span {
  width: 20vw;
  height: 20vh;
  padding: 0.25rem;
  border: 2px solid #555953;
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: cover;
  background-position: center center;
  margin: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.projects span a {
  display: flex;
  align-items: center;
  background-color: #323630;
  padding: 0.25rem;
  color: #d1dc0a;
  font-family: "Orbitron", sans-serif;
  font-size: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
}

.projects span a svg {
  fill: white;
  padding-right: 0.75rem;
}

.projects span:nth-child(1) {
  background-image: url("./img/9a.jpg");
  margin-left: 0;
}

.projects span:nth-child(2) {
  background-image: url("./img/velux.jpg");
}
.projects span:nth-child(3) {
  background-image: url("./img/ph.jpg");
}
.projects span:nth-child(4) {
  background-image: url("./img/orb.jpg");
}
.projects span:nth-child(5) {
  background-image: url("./img/lenovo.jpg");
  margin-right: 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

footer span a svg {
  fill: white;
}

.tag-line {
  padding: 1rem 0;
  color: #757973;
}

@media (max-width: 83.75rem) {
  .projects span a {
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    font-size: 0;
    justify-content: center;
    align-items: center;
  }

  .projects span a svg {
    padding: 0;
    fill: #d1dc0a;
  }
}
