body {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

body,
section {
    overflow-x: hidden;
}

h1 {
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 2.5rem;
    letter-spacing: 0.125rem;
}

.link-source h4 {
    padding: 0;
}

body,
header,
header a,
section,
.header-section,
.navigation,
.skill-pills,
.skill-pills-mini,
.projects,
.project-details,
.projects span,
.project-blurb,
.about,
.about-tabs,
.current-project,
.current-project-insert,
.current-project-header,
.feedback li,
.contact,
.contact-detail,
.resources,
.resource,
.link-source,
.about-stub,
.about-stub small,
.about-stub span,
footer {
    display: flex;
}

body,
section,
footer,
.header-section,
.projects,
.project-details,
.projects span,
.projects span a,
.link-source a,
.current-project,
.contact,
.resources,
.link-source,
.about-stub span {
    flex-direction: column
}

header,
header a,
.header-section,
.navigation {
    justify-content: center;
    align-items: center;
}

.about {
    justify-content: center;
}

section,
footer,
.project-blurb,
.current-project,
.current-project-insert,
.current-project-header,
.contact-detail,
.feedback li {
    align-items: center;
}

.resource,
.about-stub {
    align-items: flex-start;
}

.projects span,
.project-blurb,
.about,
.current-project-insert,
.contact-detail,
.feedback li,
.about-stub {
    flex-wrap: wrap;
}

section img,
.current-project img,
.current-project-insert img,
.current-project-header img {
    height: 6rem;
    width: 6rem;
    margin-bottom: 2rem;
}

.resources img {
    margin-top: 0;
}

header,
footer,
.navigation {
    background-color: rgb(29, 34, 38);
}

header svg,
footer span a svg {
    fill: rgb(112, 181, 250);
}

header,
.header-section,
.navigation {
    width: 100vw;
}

body,
h1,
h2,
h3,
h4,
h5,
header,
ul,
.about-stub p {
    margin: 0;
}

.projects,
.about-blurb,
.about,
.current-project,
.current-project-insert,
.feedback,
.contact {
    width: 50vw;
}

.current-project,
.current-project-insert,
.projects span {
    justify-content: flex-start;
}

section img,
.skills li,
.skill-pills li,
.skill-pills-mini li {
    display: block;
}

.projects span,
.project-blurb h4,
.contact-detail p,
.current-project-header,
.feedback li mark,
.link-source,
.about-stub small {
    width: 100%;
}

.contact-detail p,
.project-blurb,
.current-project-insert,
.feedback li,
.link-source {
    text-align: left;
}

section {
    text-align: center;
}

header,
header a,
.projects span {
    height: auto;
}

ul,
.skill-pills,
.skill-pills-mini {
    list-style: none;
}

.skill-pills-mini,
.projects span a,

.link-source a,
.about img {
    width: auto;
}

body,
h1,
h2,
h3,
h4,
h5,
.navigation li a,
.skill-pills-mini li,
.projects span a,
.link-source a,
.tag-line,
.feedback li mark {
    color: white;
}

.contact-detail a,
.skill-pills li,
.project-blurb h4,
.current-project-header span,
.current-project-insert h5,
.contact-detail a,
.about-blurb a,
.feedback li small,
.feedback li a,
.link-source small {
    color: rgb(112, 181, 250);
}

section img,
.navigation,
.current-project,
.current-project-insert {
    margin-bottom: 2rem;
}


section img,
.skill-pills,
.project-blurb {
    margin-top: 1rem;
}

h1,
h2,
h3,
h4,
h5,
header,
footer,
.tag-line,
.role {
    padding: 1rem 0;
}

body,
ul,
.contact-detail h4,
.about-stub h4 {
    padding: 0;
}

.about-stub h4 {
    text-align: left;
    line-height: 1rem;
    padding-bottom: 0.5rem;
}

::selection {
    color: rgba(0, 0, 0, 0.75);
    background-color: rgba(112, 181, 250, 0.6);
}

::-moz-selection {
    color: rgba(0, 0, 0, 0.75);
    background-color: rgba(112, 181, 250, 0.6);
}

.feedback li mark {
    background-color: rgba(112, 181, 250, 0.6);
    padding: 0.25rem 0.5rem;
    line-height: 2rem;
}


.navigation li,
.skills li {
    padding: 1rem;
}

.header-section,
.projects span {
    background-repeat: no-repeat;
}

.navigation li,
.about img,
.about-blurb a,
.current-project-header img,
.about-stub img {
    border: 0;
}

.about img,
.current-project-header img,
.about-stub img {
    border-radius: 0;
}

.about-stub img {
    width: 7rem;
    height: auto;
    margin-right: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

.skill-pills li,
.skill-pills-mini li,
.project-blurb {
    background-color: rgba(0, 0, 0, 0.75);
}

.skill-pills li,
.skill-pills-mini li,
.resource img {
    margin-right: 1rem;
}

.skill-pills-mini li,
.projects span a,
.link-source a {
    height: 1rem;
}

body,
.navigation li:active {
    background-color: rgba(0, 0, 0, 0.902);
}

.project-blurb h4,
.contact-detail h4 {
    line-height: 1rem;
}

.current-project img,
.current-project-insert img {
    object-fit: contain;
    margin-right: 2rem;
}

.current-project,
.current-project-insert {
    padding-bottom: 1rem;
}

.projects span a,
.link-source a,
.skill-pills li,
.skill-pills-mini li {
    border-radius: 2rem;
}

.skill-pills li,
.skill-pills-mini li,
.projects span a,
.link-source a {
    padding: 0.45rem 1rem;
}

.skill-pills-mini li,
.projects span a,
.link-source a {
    border: 0.125rem solid;
}

footer,
.skill-pills-mini li,
.projects span a,
.link-source a {
    font-size: 0.75rem;
}

.feedback li q {
    font-weight: 300;
    font-size: 0.80rem;
    line-height: 1.5rem;
}

body,
.skill-pills li,
.skill-pills-mini li,
.projects span a,
.link-source a {
    font-weight: 400;
}

.skill-pills-mini,
.project-details {
    flex-grow: 1;
}

.about img,
.current-project-header img {
    margin-right: 2rem;
}

.feedback li img {
    height: 2.5rem;
    width: auto;
    margin: 0 1rem 0 0;
}

.feedback li {
    padding: 2rem 0;
}

.about-stub span h4,
.feedback li,
.about-tabs h3.active {
    border-bottom: 0.0625rem dotted rgb(112, 181, 250);
}

.about-stub span small {
    padding-top: 1rem;
}

.about .icon {
    margin: 3rem auto;
}

.about-wrapper {
    width: 100vw;
    background-color: rgb(45, 53, 59);
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.about-section {
    padding-bottom: 0;
}

.about-footer {
    margin-top: 0;
}

.feedback li mark span {
    color: rgba(0, 0, 0, 0.75);
}

.about-stub {
    text-align: left;
    margin: 2rem 0;
}

.about-stub span .honors {
    margin: 1rem 0;
    color: rgb(112, 181, 250);
}

.about-stub .about-detail {
    padding-left: 9rem;
    list-style: square;
}

/** GROUPED ABOVE **/

.link-source a {
    margin-top: 1rem;
}

header {
    position: fixed;
}

header a {
    width: 3rem;
}

section {
    padding: 0 1rem 1rem 1rem;
}

section img {
    border-radius: 15rem;
    border: 0.25rem solid rgb(29, 34, 38);
}

ul li {
    padding: 0.5rem 0;
}

a {
    text-decoration: none;
}

.header-section {
    padding: 3rem 0;
    padding-top: 5rem;
    background-image: url('./img/background.jpg');
    background-attachment: fixed;
    background-size: 100%;
}

.navigation {
    border-bottom: 0.1875rem solid rgb(29, 34, 38);
}

.navigation li {
    cursor: pointer;
    border-bottom: 0.0625rem solid transparent;
}

.navigation li:hover {
    background-color: rgba(112, 181, 250, 0.6);
    border-bottom: 0.0625rem solid white;
}

.skill-pills-mini {
    margin: 1rem auto 0 1rem;
}

.projects,
.about img {
    margin-top: 3rem;
}

.project-details {
    height: 20rem;
    justify-content: flex-end;
}

.projects span {
    background-position: 0 100%;
    background-size: cover;
    background-position: left center;
    margin: 0 0 2rem 0;
}

.projects span a,
.link-source a {
    background-color: rgba(112, 181, 250, .65);
    margin-left: auto;
    flex-shrink: 1;
}

.projects span a:hover,
.link-source a:hover {
    color: rgba(0, 0, 0, 0.75);
    background-color: white;
}

.projects span:nth-child(1) {
    background-image: url("./img/9a.jpg");
}

.projects span:nth-child(2) {
    background-image: url("./img/velux.jpg");
}

.projects span:nth-child(3) {
    background-image: url("./img/ph.jpg");
}

.projects span:nth-child(4) {
    background-image: url("./img/orb.jpg");
}

.projects span:nth-child(5) {
    background-image: url("./img/lenovo.jpg");
}

.project-blurb {
    padding: 0 1rem 2rem 1rem;
}

.about-blurb,
.feedback li,
.current-project,
.current-project-insert {
    line-height: 1.5rem;
}

.contact a,
.about-blurb a,
.feedback li a {
    border-bottom: 0.0625rem dotted rgba(112, 181, 250, .65)
}

.contact a:hover,
.about-blurb a:hover,
.feedback li a:hover {
    color: rgba(112, 181, 250, .65);
    border-color: white;
}

.about img {
    height: 1.5rem;
}

.current-project {
    border-bottom: 0.0625rem solid rgb(112, 181, 250);
}

.current-project-insert {
    border-bottom: 0.0625rem dotted white;
}

header svg:hover,
footer span a svg:hover,
.contact-detail svg {
    fill: white;
    width: 3.5rem;
    margin-bottom: auto;
}

.contact-detail p {
    text-indent: 3.5rem;
}

footer {
    margin: 4rem 0 0 0;
}

.about-tabs {
    width: 50vw;
    justify-content: space-evenly;
    cursor: pointer;
    text-align: center;
}

.about-tabs h3 {
    font-weight: 100;
    color: rgb(115, 139, 157);
    min-width: 12rem;
}

.about-tabs h3.active {
    font-weight: 500;
    color: rgb(112, 181, 250);
}

.tab-content {
    display: none;
    padding: 3rem 0.75rem 1rem 0.75rem;
    border-top: none;
}

.about-stub svg {
    fill: white;
    margin-right: 1rem;
}

.about-stub span ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5rem;
    list-style: square;
    padding-left: 1rem;
}

.about-stub span ul li {
    padding: 1rem 0;
}

@media (max-width: 768px) {
    .about-stub span ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .header-section {
        background-size: 100vmax;
    }

    .header-section p {
        width: 95vw;
    }

    .skills {
        display: none;
    }

    .projects,
    .about-stub,
    .about-tabs {
        width: 100%;
        flex-direction: column;
    }

    .about-stub {
        align-items: center;
    }

    .about-stub img {
        width: 50vw;
        margin-bottom: 2rem;
        margin-right: 0;
    }

    .about-stub span {
        width: 90vw;
        align-items: center;
    }

    .about-stub .about-detail {
        padding-left: 1rem;
    }

    .projects span {
        width: 100%;
        height: 15rem;
    }

    .projects span a {
        margin-left: auto;
    }

    .skill-pills {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .skill-pills li {
        width: 70vw;
        display: block;
        margin: 0 1rem 0.5rem 1rem;
        padding: 0.25rem 1rem;
        font-size: 0.75rem;
    }

    .skill-pills-mini {
        display: none;
    }

    .current-project,
    .current-project-insert {
        flex-direction: column;
        text-align: center;
    }

    .feedback,
    .current-project,
    .current-project-insert {
        width: 90vw;
    }

    .current-project-header img,
    .current-project-insert img {
        margin-right: 0rem;
    }

    .current-project-header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .current-project-header img {
        width: 50%;
    }

    .about,
    .about-blurb {
        width: 90vw;
    }

    .contact {
        width: 90vw;
    }
}

@media (min-width: 1024px) {
    .separator span {
        width: 12vw;
    }
}

@media (min-width: 1024px) {
    .separator span {
        width: 100vw;
    }
}