.not-found {
  @include flex();
  margin: 3rem 0 0 0;

  @include flex-column();

  img {
    height: 8rem;
    width: auto;
    border: 0;
    border-radius: 0;
    margin-top: 1.5rem;
  }

  .banner {
    width: 50vw;
    margin: 0 0  2rem 0;

    @include tablet {
      @include span-90();
    }

    @include mobile {
      @include span-90();
    }

    @include small-mobile {
      @include span-90();
    }
  }

  a {
    border-bottom: 1px dotted var(--primary-color);
  }
}