.useful-links {
    text-align: left;
    list-style: square;
    padding-left: 1rem;

    @include tablet {
        word-wrap: break-word;
    }

    @include mobile {
        word-wrap: break-word;
    }

    @include small-mobile {
        word-wrap: break-word;
    }
}