@import '../global/mixins';
@import '../color';
@import './showcase_mixins';

.projects,
.project-details,
.project-blurb {
  @include flex();
  @include flex-column();

  span {
    @include flex();
    @include flex-column();
    @include flex-wrap();
    justify-content: flex-start;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;

    a {
      @include read-more();
    }
  }
}

.project-blurb {
  @include flex-wrap();
  align-items: flex-start;
  text-align: left;
  padding: 0 1rem 2rem 1rem;
  margin-top: 1rem;
  background-color: var(--card-background-color-alpha);

  h4 {
    color: var(--primary-color);
    line-height: 1rem;
    width: 100%;
  }

  @include tablet {
    align-items: flex-start;
  }

  @include mobile {
    align-items: flex-start;
  }

  @include small-mobile {
    align-items: flex-start;
  }
}

.project-details {
  height: 20rem;
  justify-content: flex-end;
  flex-grow: 1;
}

.projects {
  margin-top: 0rem;
  @include showcase-view-transition(0.5s, 0, 1);

  @include tablet {
    @include mobile-no-animation();
    @include span-80();
  }

  .project-display-card {
    border: .5rem solid var(--card-background-color);
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      border-color: var(--black-alpha);
    }
  }

  span {
    background-position: 0 100%;
    background-size: cover;
    background-position: left center;
    margin: 0;
  }

  @include tablet {
    @include mobile-projects();
  }

  @include mobile {
    @include mobile-projects();
  }

  @include small-mobile {
    @include mobile-projects();
  }
}

.grid-layout {
  @include grid-context()
}

.skill-pills {
  @include flex();
  list-style: none;
  margin-top: 1rem;

  li {
    @include flex();
    justify-content: flex-start;
    align-items: center;
    color: var(--primary-color);
    font-weight: 400;
    margin-right: 1rem;
    padding: 0.45rem 1rem;
    border-radius: 2rem;
    background-color: var(--black-alpha);

    img {
      height: 1rem;
      width: auto;
      margin: 0 .5rem 0 0;
      border: none;
      border-radius: 0;
    }
  }
}

.skill-pills-mini {
  @include flex();
  flex-grow: 1;
  list-style: none;
  width: auto;
  margin: 1rem auto 0 1rem;

  li {
    @include flex();
    flex-wrap: nowrap !important;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-color);
    background-color: var(--black-alpha);
    margin-right: 1rem;
    border-radius: 2rem;
    padding: .45rem .75rem;
    border: .0625rem solid;
    font-size: .75rem;
    font-weight: 400;

    img {
      height: 1rem;
      width: auto;
      margin: 0 .5rem 0 0;
      border: none;
      border-radius: 0;

      @include tablet {
        margin: 0;
      }

      @include mobile {
        margin: 0;
      }

      @include small-mobile {
        margin: 0;
      }

      @include small-desktop {
        margin: 0;
      }
    }

    span {
      margin: 0;

      @include tablet {
        @include mobile-hidden();
      }

      @include mobile {
        @include mobile-hidden();
      }

      @include small-mobile {
        @include mobile-hidden();
      }

      @include small-desktop {
        @include mobile-hidden();
      }
    }
  }
}

.skills {
  li {
    padding: 1rem;
  }
}

.loading-icon-home {
  @include flex;
  @include flex-column();
  @include flex-center();
  background-color: black;
  border: 1px solid var(--text-color);
  position: relative;
  height: 100vh;
  width: 100vw;

  .loading-graphic {
    @include loading-graphic-config(10rem);
  }

  img {
    @include loading-graphic-image();
  }
}