@import '../global/mixins';
@import '../color';
@import './showcase_mixins';

@mixin mobile-projects {
    @include span-90();
    @include flex-column();
}

@mixin mobile-hidden {
    display: none;
}

@mixin mobile-no-animation {
    animation: none !important;
}

@mixin loading-graphic {
    width: 100%;
    height: 100vh;
}

@mixin mobile-height {
    height: 15rem;
}

@mixin mobile-width {
    @include tablet {
        @include mobile-height();
        @include span-90();
    }

    @include mobile {
        @include mobile-height();
        @include span-90();
    }

    @include small-mobile {
        @include mobile-height();
        @include span-90();
    }
}

.projects,
.project-details,
.project-blurb {
    @include flex();
    @include flex-column();

    span {
        @include flex();
        @include flex-column();
        @include flex-wrap();
        justify-content: flex-start;
        width: 100%;
        height: auto;
        background-repeat: no-repeat;

        a {
            color: $white;
            @include flex-column();
            width: auto;
            height: 1rem;
            border-radius: 2rem;
            padding: 0.45rem 1rem;
            font-size: .75rem;
            border: 0.125rem solid;
            font-weight: 400;
            background-color: $blue_alpha_6;
            margin-left: auto;
            flex-shrink: 1;

            &:hover {
                color: $black_alpha_7;
                background-color: $white;
            }
        }
    }
}

.project-blurb {
    @include flex-wrap();
    align-items: flex-start;
    text-align: left;
    padding: 0 1rem 2rem 1rem;
    margin-top: 1rem;
    background-color: $black_alpha_7;

    h4 {
        color: $blue_1;
        line-height: 1rem;
        width: 100%;
    }

    @include tablet {
        align-items: flex-start;
    }

    @include mobile {
        align-items: flex-start;
    }

    @include small-mobile {
        align-items: flex-start;
    }
}

.project-details {
    height: 20rem;
    justify-content: flex-end;
    flex-grow: 1;
}

.projects {
    margin-top: 0rem;
    @include span-90();
    @include showcase-view-transition(0.5s, 0, 1);

    @include tablet {
        @include mobile-no-animation();
        @include span-80();
    }

    .project-display-card {
        border: .5rem solid $black;
        box-sizing: border-box;
        cursor: pointer;
        &:hover {
            border-color: $black_alpha_7;
        }
    }

    span {
        background-position: 0 100%;
        background-size: cover;
        background-position: left center;
        margin: 0;
    }

    @include tablet {
        @include mobile-projects();
    }

    @include mobile {
        @include mobile-projects();
    }

    @include small-mobile {
        @include mobile-projects();
    }
}

.layout-button {
    margin: 2rem 0 2.5rem 0;
    border: 0;
    color: $white;
    background-color: transparent;
    font-family: inherit;
    cursor: pointer;

    img {
        height: 2rem;
        width: auto;
        border: none;
        border-radius: 0;
        margin: 0 auto;
    }

    @include tablet {
        @include mobile-hidden();
    }

    @include mobile {
        @include mobile-hidden();
    }

    @include small-mobile {
        @include mobile-hidden();
    }
}

.grid-layout {
    @include grid();
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    @include showcase-grid-transition(0.5s);

    @include span-90();

    span {
        .project-details {
            .project-blurb {
                @include flex-column();
                justify-content: flex-start;
                align-items: flex-start;
                padding: 0 1rem 2rem 1rem;

                a {
                    margin-left: auto;
                }
            }

            .skill-pills-mini {
                li {
                    @include flex-wrap();
                    margin-right: .5rem;
                }
            }
        }
    }

    @include tablet {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        @include span-90();
        @include mobile-no-animation();
    }

    @include mobile {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        @include span-90();
        @include mobile-no-animation();
    }

    @include small-mobile {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        @include span-90();
        @include mobile-no-animation();
    }

    ;

    @include mobile {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        width: 100%;
    }

    ;

    @include small-mobile {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        width: 100%;
    }

    ;
}

.skill-pills {
    @include flex();
    list-style: none;
    margin-top: 1rem;

    li {
        @include flex();
        justify-content: flex-start;
        align-items: center;
        color: $blue_1;
        font-weight: 400;
        margin-right: 1rem;
        padding: 0.45rem 1rem;
        border-radius: 2rem;
        background-color: $black_alpha_7;

        img {
            height: 1rem;
            width: auto;
            margin: 0 .5rem 0 0;
            border: none;
            border-radius: 0;
        }
    }
}

.skill-pills-mini {
    @include flex();
    flex-grow: 1;
    list-style: none;
    width: auto;
    margin: 1rem auto 0 1rem;

    li {
        @include flex();
        flex-wrap: nowrap !important;
        justify-content: flex-start;
        align-items: center;
        color: $white;
        background-color: $black_alpha_7;
        margin-right: 1rem;
        border-radius: 2rem;
        padding: .45rem .75rem;
        border: .125rem solid;
        font-size: .75rem;
        font-weight: 400;

        img {
            height: 1rem;
            width: auto;
            margin: 0 .5rem 0 0;
            border: none;
            border-radius: 0;

            @include tablet {
                margin: 0;
            }

            @include mobile {
                margin: 0;
            }

            @include small-mobile {
                margin: 0;
            }

            @include small-desktop {
                margin: 0;
            }
        }

        span {
            margin: 0;

            @include tablet {
                @include mobile-hidden();
            }

            @include mobile {
                @include mobile-hidden();
            }

            @include small-mobile {
                @include mobile-hidden();
            }

            @include small-desktop {
                @include mobile-hidden();
            }
        }
    }
}

.skills {
    li {
        padding: 1rem;
    }
}

.loading-icon-home {
    @include flex;
    @include flex-column();
    @include flex-center();
    background-color: black;
    border: 1px solid $black;
    position: relative;
    height: 100vh;
    width: 100vw;

    .loading-graphic {
        @include loading-graphic-config(10rem);
    }

    img {
        @include loading-graphic-image();
    }
}

.filter-wrapper {
    @include flex();
    @include flex-column();
    margin: 0 auto;

    .filter-button {
        @include flex();
        @include span-25();
        justify-content: center;
        align-items: center;
        padding: .75rem 2.5rem;
        background-color: $blue_1;
        border: 1px solid $white;
        border-radius: 10rem;
        cursor: pointer;
        font-family: inherit;
        margin-bottom: 1.5rem;

        &:hover {
            background-color: $black;
            color: $grey;
        }

        img {
            height: auto;
            width: 1.5rem;
            border: 0;
            border-radius: 0;
            margin: 0;
        }

        @include tablet {
            @include span-50();
            margin-bottom: 2rem;
        }

        @include mobile {
            @include span-90();
            margin-bottom: 2rem;
        }

        @include small-mobile {
            @include span-90();
            margin-bottom: 2rem;
        }

        @include small-desktop {
            @include span-50();
            margin-bottom: 2rem;
        }
    }

    .mobile-margin {
        @include tablet {
            margin-bottom: .75rem;
        }

        @include mobile {
            margin-bottom: .75rem;
        }

        @include small-mobile {
            margin-bottom: .75rem;
        }

        @include small-desktop {
            margin-bottom: .75rem;
        }
    }

    @keyframes grow {
        from {
            transform-origin: top center;
            transform: scaleY(0);
            opacity: 0;
        }

        to {
            transform-origin: top center;
            transform: scaleY(100%);
            opacity: 1;
        }
    }

    .showcase-type-dropdown {
        @include flex();
        @include flex-column();
        @include span-25();
        margin: .5rem auto;
        z-index: 100;
        position: relative;
        animation: grow 1s;
        position: absolute;
        top: 3rem;

        li {
            padding: .5rem .75rem;
            border: 1px solid $white;
            background-color: $black;
            @include flex();
            justify-content: center;
            align-items: center;
            border-radius: 10rem;
            cursor: pointer;
            margin-top: .5rem;

            &:hover {
                background-color: $black;
                color: $grey;
            }

            button {
                border: 0;
                background-color: transparent;
                color: $white;
                @include flex();
                justify-content: center;
                align-items: center;
                cursor: pointer;
                width: 100%;
                font-family: inherit;

                &:hover {
                    color: $grey;
                }

                img {
                    height: 1rem;
                    width: 1rem;
                    margin: 0 auto 0 0;
                    border: 0;
                    border-radius: 0;
                }
            }
        }

        .reset {
            background-color: $blue_1;
            border: 1px solid $white;
            border-radius: 10rem;
            cursor: pointer;
            font-family: inherit;

            &:hover {
                background-color: $black;
                color: $grey;
            }
        }

        @include tablet {
            @include span-50();
        }

        @include mobile {
            @include span-90();
        }

        @include small-mobile {
            @include span-90();
        }

        @include small-desktop {
            @include span-50();
        }
    }

    p {
        @include flex();
        width: 100%;
        align-items: center;
        justify-content: center;
        color: $grey;
        margin: 1rem auto 0 auto;
        border-top: 1px dotted $grey;
        border-bottom: 1px dotted $grey;
        padding: 1rem 0;
        font-style: italic;

        @include tablet {
            margin-bottom: 1.5rem;
        }

        @include mobile {
            margin-bottom: 1.5rem;
        }

        @include small-mobile {
            margin-bottom: 1.5rem;
        }

        @include small-desktop {
            margin-bottom: 1.5rem;
        }
    }

    span {
        color: $white;
        font-style: normal;
        padding: 0 .125rem;
        margin: 0 .5rem;
    }

    .option {
        @include flex();
        align-items: center;

        img {
            height: 1rem;
            width: auto;
            margin: 0 .5rem 0 0;
            border: 0;
            border-radius: 0;
        }

        a {
            @include content-link();
        }
    }
}