.site-build-footer {
    @include flex();
    align-items: flex-end;
    margin-bottom: 2rem;

    a {
        @include content-link();
        margin-top: 1rem;
    }

    img {
        height: 1rem;
        margin-right: 1rem;
    }
}

.site-build-details {
    width: 50vw;
    text-align: left;

    p {
        line-height: 1.5rem;
        padding-bottom: 1rem;
    }

    h5 {
        text-align: left;
        color: $grey;
        padding: 0;
    }

    .dependencies {
        display: flex;
        box-sizing: border-box;
        color: $white;
        font-size: .75rem;
        margin-bottom: 1rem;
        padding: 1rem .75rem;
        background-color: $black;
        border: 1px solid #666;
    }

    @include tablet {
        @include span-90();
    }

    @include mobile {
        @include span-90();
    }

    @include small-mobile {
        @include span-90();
    }
}