@use './images' as images;

@mixin mobile-header-anchor {
    width: auto;
}

@mixin mobile-header {
    justify-content: space-evenly
}

body {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    background-color: $black_alpha_9;
    @include flex();
    @include flex-column();
}

header {
    position: fixed;
    @include flex();
    @include span-100();
    height: auto;
    justify-content: center;
    background-color: $black;
    z-index: 999;

    a {
        @include flex();
        width: 3rem;
        justify-content: center;

        @include tablet {
            @include mobile-header-anchor();
        }
        @include mobile {
            @include mobile-header-anchor();
        }
        @include small-mobile {
            @include mobile-header-anchor();
        }
    }

    @include tablet {
        @include mobile-header();
    }
    @include mobile {
        @include mobile-header();
    }
    @include small-mobile {
        @include mobile-header();
    }
}

footer {
    @include flex();
    justify-content: center;
    background-color: $black;

    a {
        @include flex();
    }
}

section {
    @include flex();
}

section,
footer {
    @include flex-column-center();
}

footer {
    font-size: .75rem;
}

body,
section {
    overflow-x: hidden;
}

h1 {
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 2.5rem;
    letter-spacing: 0.125rem;
}

h1,
h2,
h3,
h4,
h5,
header,
footer {
    padding: 2rem 0;
}

a {
    color: $blue_1;
}

section {
    text-align: center;

    img {
        @include images.image_default();
        @include flex();
        justify-content: flex-start;
        align-items: center;
        border-radius: 15rem;
        border: .25rem solid $black;
    }
}

footer {
    margin: 0;
}

header,
footer {
    svg {
        fill: $blue_1;

        &:hover {
            fill: $white;
            width: 3.5rem;
            margin-bottom: auto;
        }
    }

    span {
        a {
            svg {
                fill: $blue_1;

                &:hover {
                    fill: $white;
                    width: 3.5rem;
                    margin-bottom: auto;
                }
            }
        }
    }
}

body,
h1,
h2,
h3,
h4,
h5,
header,
ul {
    margin: 0;
    color: $white;
}

ul {
    list-style: none;

    li {
        padding: .5rem 0;
    }
}

body,
ul {
    padding: 0;
}

section {
    padding: 0 1rem 1rem 1rem;

    img {
        border-radius: 15rem;
        border: .25rem solid rgb(29, 34, 38);
    }
}

a {
    text-decoration: none;
}