<ng-container *ngIf="project || url">
    <p class="presentation-link">
        <app-behance-icon *ngIf="!isMedium && project?.showCaseLink || url"></app-behance-icon>
        <app-medium-icon *ngIf="isMedium"></app-medium-icon>
        <app-pdf-icon *ngIf="project?.downloadLink"></app-pdf-icon>
        <a *ngIf="project || url"
            [href]="link"
            target="_blank">{{
            project?.showCaseLink
            ? isMedium ? medium : behance
            : project?.downloadLink
            ? pdf
            : behance
            }}
        </a>
    </p>
</ng-container>