@if(project()) {
<p class="presentation-link">
    @if(project()?.showCaseLink && project()?.showCaseLink?.includes('behance')){
    <app-behance-icon></app-behance-icon>
    }

    @if(project()?.showCaseLink && project()?.showCaseLink?.includes('medium')){
    <app-medium-icon></app-medium-icon>
    }

    @if(project() && project()?.downloadLink){
    <app-pdf-icon></app-pdf-icon>
    }
    @if(project()) {
    <a [href]="link" target="_blank" aria-label="presentation link">{{ linkType }}</a>
    }
</p>
} @else {
<p>Sorry, no link is available for this project synopsis.</p>
}