<h3>Current Project</h3>
<ng-container *ngIf="projects$ | async as currentProject">
    <app-current-project-header [currentProject]="currentProject"></app-current-project-header>
    <div class="current-project-insert" *ngFor="let project of currentProject.projects">
        <app-current-project-detail [project]="project"></app-current-project-detail>
    </div>
    <app-current-project-presentation [currentProject]="currentProject"></app-current-project-presentation>
</ng-container>
<app-feedback></app-feedback>