<ng-container *ngIf="project">
  <img src="{{ project.projectLogo }}" alt="{{ project.projectLogo | altText }}">
  <h3 [innerText]="project.projectTitle"></h3>
  <span [innerHTML]="project.projectDescription"></span>
  <h4 *ngIf="project.skills" class="skills-header" [innerText]="'Skills'"></h4>
  <app-skill-pills [skills]="project.skills"></app-skill-pills>
  <ng-container *ngIf="project.skillUsage">
    <h4 class="skills-header" [innerText]="'Skills usage on Task'"></h4>
    <app-tech-bar-chart [skillsUsage]="project.skillUsage" [isEmployment]="false"></app-tech-bar-chart>
  </ng-container>
</ng-container>