@if (skills()) {
  <ul class="skills"
    [ngClass]="skillsType() === 'employment' ? 'employment-skills' : size() ? size() : 'skills'">
    @for (skill of skills(); track skill) {
      <li
        [ngStyle]="{ 'border-color': skill | pill }"
        [@filteredSkill]="[ skill, this._globalService.filterValue ] | filter">
        <img [ngClass]="!showLink() ? 'no-link' : ''" [src]="skill | logo" alt="{{ skill | logo | altText }}" />
        @if (showLink()) {
          <span><a class="pill-link" [href]="skill | filterLink" target="_blank" aria-label="skill document link">{{ skill }}</a></span>
        }
      </li>
    }
  </ul>
}