<button class="menu-icon" (click)="open()"><img src="../../../assets/img/menu_icon.svg"
        [alt]="'../../../assets/img/menu_icon.svg' | altText"></button>
<ul class="navigation" *ngIf="show" [@fade]="show">
    <button class="menu-icon" (click)="show = false"><img src="../../../assets/img/close_icon.svg"
            [alt]="'../../../assets/img/close_icon.svg' | altText"></button>
    <li *ngFor="let route of navigationRoutes">
        <ng-container *ngIf="route.route; else anchorLink">
            <a [routerLink]="route.route" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: route.activeOptions}" (mouseenter)="onMouseEnter(route)">{{
                route.anchorText }}</a>
        </ng-container>
        <ng-template #anchorLink>
            <span class="external-link">
                <img *ngIf="route.icon" [src]="route.icon" [alt]="route.icon | altText">
                <a [href]="route.url" target="_blank" (mouseenter)="onMouseEnter(route)">{{ route.anchorText }}</a>
            </span>
        </ng-template>
    </li>
    <span class="navigation-subtext"><app-navigation-subtext [item]="selectedRoute"></app-navigation-subtext></span>
</ul>