@if (config()) {
  <h3 [innerText]="config().title"></h3>
  @if (config().data$ | async; as stack) {
    <ul class="technologies">
      @for (tool of stack; track tool) {
        <li>
          <img [ngStyle]="{ 'border-color': tool.name | pill }" [src]="tool.name | logo"
            alt="{{ tool.name | logo | altText }}">
          <span><a class="pill-link" [href]="tool.name | filterLink" target="_blank"
          [attr.aria-label]="tool.name + 'link'">{{ tool.name }}</a></span>
          <span>{{ tool.purpose }}</span>
        </li>
      }
    </ul>
  }
}