<h3>Professional Training & Certification</h3>
<div class="about-stub">
    <span>
        <ul class="post-education" *ngIf="postEducation$ | async as postEducation">
            <li *ngFor="let training of postEducation"><app-post-education-insert [training]="training"></app-post-education-insert></li>
        </ul>
    </span>
</div>
<h3>Education</h3>
<ng-container *ngIf="education$ | async as education">
    <div class="about-stub" *ngFor="let placement of education">
        <app-education-insert [placement]="placement"></app-education-insert>
    </div>
</ng-container>