<div class="about-blurb tab-content">
    <h3 [innerText]="'About'"></h3>
    <app-profile-images></app-profile-images>
    <p>Greetings! I'm Ben, a seasoned <a href="https://www.linkedin.com/in/bensegni/" target="_blank">Lead Full Stack
            Software Engineer</a> with a passion for design and technology.</p>
    <p>My journey began in 2008 as a Web Designer, fueled by my fascination with digital creativity. Armed with an
        Architectural Studies degree, I seamlessly merged creative thinking with technical expertise to bring my ideas
        to life.</p>
    <p>In 2010, I embarked on a solo entrepreneurial venture, successfully delivering design and development projects
        for clients worldwide, including renowned brands like <a
            href="https://www.behance.net/gallery/65131579/Micro-Learning-UI-Design" target="_blank">Velux</a>, <a
            href="https://www.behance.net/gallery/55552917/Partner-Marketing-Application-Landing-Page"
            target="_blank">Lenovo</a>, and Amazon.</p>
    <p>In 2015, I took the helm as Lead UX Designer for a SAAS platform in Newcastle-upon-Tyne, where I delved into
        AngularJS and its ever-evolving landscape. Since then, I've led development teams for esteemed clients such as
        <a href="https://www.britishairways.com/travel/home/public/en_gb/" target="_blank">British
            Airways</a>, <a href="https://www.mercedes-benz.com/en/" target="_blank">Mercedes-Benz</a>, and <a
            href="https://www.kriminalomsorgen.no/" target="_blank">Kriminalomsorgen</a>.
    </p>
</div>