<img class="employer-logo" src="{{ role().logo }}" alt="{{ role().logo | altText }}" />
<span>
  <h4 [innerText]="role().company"></h4>
  <p>
    <small>{{ role().date }}</small>
  </p>
  <p class="honors">{{ role().title }}.</p>
</span>
@if (role().successes.length) {
<ul class="about-detail">
  @for (success of role().successes; track success) {
  <li>{{ success }}</li>
  }
</ul>
} @else {
<p class="new-job">More information to follow</p>
}
<a
  class="employment-site-link"
  [href]="role().website"
  target="_blank"
  aria-label="employer website link"
  >{{ role().website }}</a
>
<h5 class="skills-header" [innerText]="'Skills'">Skills:</h5>
<app-skill-pills
  [skills]="role().technologies"
  [skillsType]="'employment'"
></app-skill-pills>
<h5 class="skills-header" [innerText]="'Skills usage on Task'"></h5>
<app-tech-bar-chart [skillsUsage]="role().skillUsage"></app-tech-bar-chart>
