<button class="menu-icon" (click)="open()">
    <span></span>
    <span></span>
    <span></span>
</button>
<ul class="navigation" *ngIf="show" [@fade]="show">
    <li><button class="close-icon" (click)="show = false" (mouseenter)="onMouseEnter()">
            <img [src]="closeIcon" [alt]="closeIcon | altText"></button></li>
    <li *ngFor="let route of navigationRoutes">
        <ng-container *ngIf="route.route; else anchorLink">
            <a
                [routerLink]="route.route" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: route.activeOptions}"
                (mouseenter)="onMouseEnter(route)"
                [innerText]="route.anchorText">
            </a>
        </ng-container>
        <ng-template #anchorLink>
            <span class="external-link">
                <img *ngIf="route.icon" [src]="route.icon" [alt]="route.icon | altText">
                <a
                    [href]="route.url"
                    target="_blank"
                    (mouseenter)="onMouseEnter(route)"
                    [innerText]="route.anchorText">
                </a>
            </span>
        </ng-template>
    </li>
    <span class="navigation-subtext"><app-navigation-subtext [item]="selectedRoute"></app-navigation-subtext></span>
</ul>