<h3 [innerText]="'Site Specification'"></h3>
<div class="site-build-details">
  <p [innerHTML]="buildCopy"></p>
  <h4 [innerText]="'Core Dependencies:'"></h4>
  <pre class="node-code">
  <code>
      &#64;angular/core: 18.0.6,
      rxjs: 7.8.1,
      jasmine-core: 5.1.2,
      typescript: 5.4.0
  </code>
</pre>
  <h5 [innerText]="'Skills:'"></h5>
  <app-skill-pills [skills]="specification"></app-skill-pills>
  <br>
  <p [innerHTML]="mobileCopy"></p>
  <app-project-link [url]="presentationLink"></app-project-link>
</div>