::selection {
    color: var(--black-alpha);
    background-color: var(--primary-color-alpha-6);
}

::-moz-selection {
    color: var(--black-alpha);
    background-color: var(--primary-color-alpha-6);
}