$blue_1: rgb(112, 181, 250);
$blue_2: rgb(115, 139, 157);
$blue_alpha_6: rgba(112, 181, 250, 0.6);
$blue_alpha_5: rgba(112, 181, 250, 0.5);
$blue_alpha_65: rgba(112, 181, 250, .65);
$black: rgb(29, 34, 38);
$black_variant_alpha: rgba(29, 34, 38, .95);
$black_alpha: rgba(0, 0, 0, 0.75);
$black_alpha_9: rgba(0, 0, 0, 0.902);
$black_background: rgb(29, 34, 38);
$black_alpha_7: rgba(0, 0, 0, 0.75);
$white: white;
$grey: rgb(128, 128, 128);
$code-block: rgb(0, 39, 63);
$angular: rgb(234, 234, 234);
$sass: rgb(235, 144, 190);
$typescript: rgb(49, 120, 198);
$html: rgb(228, 77, 38);
$bold: rgb(188, 230, 111);
$grey-light: rgb(204, 204, 204);
