$blue_1: rgb(112, 181, 250);
$blue_2: rgb(115, 139, 157);
$blue_alpha_6: rgba(112, 181, 250, 0.6);
$blue_alpha_65: rgba(112, 181, 250, .65);
$black: rgb(29, 34, 38);
$black_variant_alpha: rgba(29, 34, 38, .9);
$black_alpha: rgba(0, 0, 0, 0.75);
$black_alpha_9: rgba(0, 0, 0, 0.902);
$black_background: rgb(29, 34, 38);
$black_alpha_7: rgba(0, 0, 0, 0.75);
$white: white;
$limegreen: rgb(128, 255, 128);
