@use './images' as images;

@mixin mobile-header-anchor {
  width: auto;
}

@mixin mobile-header {
  justify-content: space-evenly
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  background-color: var(--background-color);
  @include flex();
  @include flex-column();
}

header {
  @include flex();
  @include span-100();
  height: auto;
  justify-content: center;
  background-color: var(--header-background-color);
  z-index: 999;

  a {
    @include flex();
    width: 3rem;
    justify-content: center;

    @include tablet {
      @include mobile-header-anchor();
    }

    @include mobile {
      @include mobile-header-anchor();
    }

    @include small-mobile {
      @include mobile-header-anchor();
    }
  }

  @include tablet {
    @include mobile-header();
  }

  @include mobile {
    @include mobile-header();
  }

  @include small-mobile {
    @include mobile-header();
  }
}

.blog-article-mobile {
  @include tablet {
    display: none
  }

  @include mobile {
    display: none
  }

  @include small-mobile {
    display: none
  }
}

footer {
  @include flex();
  justify-content: center;
  background-color: var(--background-color);

  a {
    @include flex();
  }
}

section {
  @include flex();
}

section,
footer {
  @include flex-column-center();
}

footer {
  font-size: .75rem;
}

body,
section {
  overflow-x: hidden;
}

h1 {
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
}

h1,
h2,
h3,
h4,
h5,
header,
footer {
  padding: 2rem 0;
}

a {
  color: var(--primary-color);
}

section {
  text-align: center;

  img {
    @include images.image_default();
    @include flex();
    justify-content: flex-start;
    align-items: center;
    border-radius: 15rem;
    border: .25rem solid var(--text-color);
  }

  h3 {
    text-align: center;
  }
}

footer {
  margin: 0;
}

header,
footer {
  svg {
    fill: var(--primary-color);

    &:hover {
      fill: var(--background-color);
      width: 3.5rem;
      margin-bottom: auto;
    }
  }

  span {
    a {
      svg {
        fill: var(--primary-color);

        &:hover {
          fill: var(--background-color);
          width: 3.5rem;
          margin-bottom: auto;
        }
      }
    }
  }
}

body,
h1,
h2,
h3,
h4,
h5,
header,
ul {
  margin: 0;
  color: var(--text-color);
}

ul {
  list-style: none;

  li {
    padding: .5rem 0;
  }
}

body,
ul {
  padding: 0;
}

section {
  padding: 0 1rem 1rem 1rem;

  img {
    border-radius: 15rem;
    border: .25rem solid var(--card-background-color);
  }
}

a {
  text-decoration: none;
}

pre {
  display: block;
  box-sizing: border-box;
  background: var(--code-block-background);
  border-left: 3px solid var(--primary-color);
  color: var(--text-color);
  page-break-inside: avoid;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: auto;
  padding: .25rem;
  word-wrap: break-word;
  font-size: .75rem;

  code {
    display: block;
    width: 100%;

    xmp {
      display: inline-block;
      margin: 0;
      white-space: unset;
      width: auto;
    }
  }

  @include tablet {
    padding: 1rem .5rem;
  }

  @include mobile {
    padding: 1rem .5rem;
  }

  @include small-mobile {
    padding: 1rem .5rem;
  }
}

mark {
  color: var(--text-color-light);
  background-color: var(--background-color);
  padding: 0 .25rem;
}

.node-code {
  @include code-background(var(--html-color), 'npm_logo.svg', 'NPM');
}

ol {
  list-style: none;
  counter-reset: item;
  padding-left: 0;

  li {
    counter-increment: item;
    margin-bottom: .5rem;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      margin-right: 1rem;
      padding-right: .5rem;
      content: counter(item);
      border-right: .125rem solid var(--primary-color);
      width: 1.2em;
      text-align: center;
      display: inline-block;
    }
  }
}