@import './color';
@import './responsive';

@mixin grid {
    display: grid;
}

@mixin flex {
    display: flex;
}

@mixin flex-column {
    flex-direction: column;
}

@mixin flex-items-center {
    align-items: center;
}

@mixin flex-column-center {
    @include flex-column();
    @include flex-items-center();
    justify-content: center;

}

@mixin flex-center {
    justify-content: center;
    align-items: center;
}

@mixin flex-column-start {
    @include flex-column();
    @include flex-items-center();
    justify-content: flex-start;
}

@mixin flex-wrap {
    flex-wrap: wrap;
}

@mixin span-100 {
    width: 100vw;
}

@mixin span-50 {
    width: 50vw;
}

@mixin span-25 {
    width: 25vw;
}

@mixin span-30 {
    width: 30vw;
}

@mixin span-75 {
    width: 75vw;
}

@mixin span-80 {
    width: 80vw;
}

@mixin span-90 {
    width: 90vw;
}

@mixin span-95 {
    width: 95vw;
}

@mixin full-width {
    width: 100%;
}

@mixin mobile-hidden {
  display: none;
}

.display-buttons {
  @include flex();
  @include flex-column();
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;

  .layout-button {
    border: 0;
    color: $white;
    background-color: transparent;
    font-family: inherit;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;

    img {
      height: 2rem;
      width: auto;
      border: none;
      border-radius: 0;
      margin: 0 auto;
    }

    @include tablet {
      @include mobile-hidden();
    }

    @include mobile {
      @include mobile-hidden();
    }

    @include small-mobile {
      @include mobile-hidden();
    }
  }
}