@import "./about_mixins";

@mixin about-text-detail {
  span {
    @include flex();
    @include flex-column();

    h4 {
      text-align: left;
      line-height: 1rem;
      padding-top: 0;
      padding-bottom: 0.5rem;
      border-bottom: 0.0625rem dotted var(--primary-color);

      @include tablet {
        @include mobile-header();
      }

      @include mobile {
        @include mobile-header();
      }

      @include small-mobile {
        @include mobile-header();
      }
    }

    .honors {
      margin: 1rem 0;
      color: var(--primary-color);
    }

    small {
      @include flex();
      padding-top: 1rem;
      width: 100%;
    }
  }
}

.about {
  @include flex();
  @include flex-wrap();
  @include span-50();
  justify-content: center;
  margin: 3rem auto;

  img {
    height: 1.5rem;
    width: auto;
    border: 0;
    border-radius: 0;
    margin-top: 2rem;
    margin-right: 2rem;
  }

  @include tablet {
    @include span-90();
    @include flex-center();
  }

  @include mobile {
    @include span-90();
    @include flex-center();
  }

  @include small-mobile {
    @include span-90();
    @include flex-center();
  }
}

.about-wrapper {
  width: 100vw;
  background-color: var(--footer-background-color);
  @include flex();
  justify-content: center;
  margin-top: 3rem;
}

.about-section {
  padding-bottom: 0;
}

.about-footer {
  margin-top: 0;
}

.about-blurb {
  text-align: left;
  line-height: 1.5rem;
  @include span-50();

  a {
    @include content-link();
  }

  p {
    display: block;
    padding: 0 0 0 1.5rem;

    &:first-of-type {
      margin-top: 2rem;
      padding-top: 1rem;
    }

    @include tablet {
      padding: 0;
    }

    @include mobile {
      padding: 0;
    }

    @include small-mobile {
      padding: 0;
    }
  }

  .employment-site-link {
    margin: 1rem 0;
    @include content-link();

    @include tablet {
      margin: 1rem 0 0 0;
    }

    @include mobile {
      margin: 1rem 0 0 0;
    }

    @include small-mobile {
      margin: 1rem 0 0 0;
    }
  }

  @include tablet {
    @include span-90();
  }

  @include mobile {
    @include span-90();
  }

  @include small-mobile {
    @include span-90();
  }
}

.about-detail {
  @include about-list();

  @include tablet {
    padding-left: 1rem;
  }

  @include mobile {
    padding-left: 0rem;
  }

  @include small-mobile {
    padding-left: 0rem;
  }
}

.about-stub {
  text-align: left;
  margin: 2rem 0 0 0;
  padding-top: 1rem;
  @include about-list();

  p {
    margin: 0;
    padding: 0;

    &:first-of-type {
      margin: 0;
      padding: 1rem 0 0 0;
    }

    .education-site-link {
      color: var(--secondary-color);
      border-bottom: 1px dotted white;

      &:hover {
        color: var(--text-color);
        border-bottom: 1px dotted var(--primary-color);
      }
    }
  }

  .new-job {
    width: 100%;
    margin-left: 9rem !important;
    padding-bottom: 2rem !important;
  }

  svg {
    fill: var(--background-color);
    margin-right: 1rem;
  }

  @include about-text-detail();

  .education-insert {
    @include flex();
    flex-direction: row;
    align-items: flex-start;

    img {
      margin-top: 0;
      margin-left: 0.25rem;
      mix-blend-mode: difference;

      @include tablet {
        @include mobile-image();
        margin-bottom: 1rem;
      }

      @include mobile {
        @include mobile-image();
        margin-bottom: 1rem;
      }

      @include small-mobile {
        @include mobile-image();
        margin-bottom: 1rem;
      }
    }

    @include about-text-detail();

    @include tablet {
      @include mobile-about-stub();
      margin: 0;
      @include flex-column();
    }

    @include mobile {
      @include mobile-about-stub();
      margin: 0;
      @include flex-column();
    }

    @include small-mobile {
      @include mobile-about-stub();
      margin: 0;
      @include flex-column();
    }
  }

  span {
    @include flex();
    @include flex-column();

    h4 {
      text-align: left;
      line-height: 1rem;
      padding-bottom: 0.5rem;
      border-bottom: 0.0625rem dotted var(--primary-color);

      @include tablet {
        @include mobile-header();
      }

      @include mobile {
        @include mobile-header();
      }

      @include small-mobile {
        @include mobile-header();
      }
    }

    ul {
      @include grid();
      @include span-50();
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 0.75rem;
      list-style: none;
      margin-left: 1rem;
      margin-bottom: 1rem;

      li {
        @include flex();
        padding: 1rem 0;
        align-items: center;

        img {
          display: block;
          height: 1rem;
          width: auto;
          margin-top: 0;
          margin-right: 1.5rem;

          @include tablet {
            @include mobile-image();
          }

          @include mobile {
            @include mobile-image();
          }

          @include small-mobile {
            @include mobile-image();
          }
        }

        @include tablet {
          @include mobile-list-item();
        }

        @include mobile {
          @include mobile-list-item();
        }

        @include small-mobile {
          @include mobile-list-item();
        }
      }

      @include tablet {
        @include mobile-list();
      }

      @include mobile {
        @include mobile-list();
      }

      @include small-mobile {
        @include mobile-list();
      }
    }

    .post-education {
      margin-left: 0;
    }

    @include tablet {
      @include mobile-span();
    }

    @include mobile {
      @include mobile-span();
    }

    @include small-mobile {
      @include mobile-span();
    }
  }

  .employer-logo {
    mix-blend-mode: difference;
  }

  img {
    width: 7rem;
    height: auto;
    margin-top: 0;
    margin-right: 2rem;
    margin-left: 0.12rem;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;

    @include tablet {
      @include mobile-img();
    }

    @include mobile {
      @include mobile-img();
    }

    @include small-mobile {
      @include mobile-img();
    }
  }

  .post-education-icon {
    height: 1rem;
    width: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 10rem;
    padding: 0.5rem;
    background-color: var(--social-media-toolbar-color);

    @include tablet {
      margin-bottom: 0;
    }

    @include mobile {
      margin-bottom: 0;
    }

    @include small-mobile {
      margin-bottom: 0;
    }
  }

  @include tablet {
    @include mobile-about-stub();
  }

  @include mobile {
    @include mobile-about-stub();
  }

  @include small-mobile {
    @include mobile-about-stub();
  }
}

.about-tabs {
  @include flex();
  justify-content: center;
  cursor: pointer;
  margin-top: 1rem;

  h3 {
    .active {
      border: 0.0625rem dotted var(--primary-color);
    }

    @include tablet {
      @include mobile-tabs-header();
    }

    @include mobile {
      @include mobile-tabs-header();
    }

    @include small-mobile {
      @include mobile-tabs-header();
    }

    a {
      display: block;
      min-width: 10rem;
      font-weight: 300;
      font-size: 0.95rem;
      color: var(--secondary-color);
      margin: 0 1rem;
      padding: 0.5rem 1rem;
      background-color: var(--card-background-color-alpha);
      border: 0.0625rem solid var(--text-color);
      box-sizing: border-box;

      &:hover {
        color: var(--text-color);
        border-color: var(--black-alpha);
      }

      @include tablet {
        @include mobile-anchor();
      }

      @include mobile {
        @include mobile-anchor();
      }

      @include small-mobile {
        @include mobile-anchor();
      }
    }
  }

  img {
    display: none;
  }

  @include tablet {
    @include mobile-tabs();
  }

  @include mobile {
    @include mobile-tabs();
  }

  @include small-mobile {
    @include mobile-tabs();
  }

  .tab-link {
    @include tablet {
      font-size: 0.95rem;
      line-height: 1rem;

      a {
        padding: 1rem 0;
      }
    }
  }
}

.tab-content {
  padding: 0 0.75rem 1rem 0.75rem;
  border-top: none;
}

.profile-images {
  @include flex();
  width: 100%;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;

  img {
    height: 8rem;
    width: 8rem;
    margin-bottom: 0;

    @include tablet {
      height: 7rem;
      width: 7rem;
      border-radius: 0;
    }

    @include mobile {
      height: 7rem;
      width: 7rem;
      border-radius: 0;
    }

    @include small-mobile {
      height: 7rem;
      width: 7rem;
      border-radius: 0;
    }
  }

  @include tablet {
    padding: 0 0 1rem 0;
  }

  @include mobile {
    padding: 0 0 1rem 0;
  }

  @include small-mobile {
    padding: 0 0 1rem 0;
  }
}
