@mixin about-list {
    list-style: square;
}

@mixin mobile-image {
    margin-left: 0;
    justify-content: space-between;
}

@mixin mobile-header {
    line-height: 1.5rem;
}

@mixin mobile-list {
    grid-template-columns: repeat(1, 1fr);
    @include span-90();
}

@mixin mobile-list-item {
    justify-content: flex-start;
}

@mixin mobile-span {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    @include flex-column();
}

@mixin mobile-img {
    @include span-30();
}

@mixin mobile-about-stub {
    align-items: flex-start;
    margin: 1rem;
}

@mixin mobile-tabs-header {
    min-width: 100vw;
    padding: 0;
}

@mixin mobile-tabs {
    width: 100%;
    @include flex-column();

    img {
        display: block;
        width: 100vw;
        height: 3rem;
        width: auto;
        border: none;
        border-radius: 0;
        margin: 2rem 0;
    }
}

@mixin mobile-anchor {
    display: block;
    width: 100%;
}