@import '../color';

.contact {
    @include flex();
    @include flex-column();
    @include span-50();

    a {
        border-bottom: 0.0625rem dotted $blue_alpha_6;

        &:hover {
            color: $blue_alpha_65;
            border-color: $white;
        }
    }

    @include tablet {
        @include span-90();
    }

    @include mobile {
        @include span-90();
    }

    @include small-mobile {
        @include span-90();
    }
}

.contact-detail {
    @include flex();
    @include flex-wrap();
    align-items: center;

    svg {
        fill: $white;
        width: auto;
        margin-right: 2rem;
        margin-bottom: auto;
    }

    p {
        text-indent: 3.5rem;
        text-align: left;
        width: 100%;
    }

    a {
        color: grey;
        border-bottom: 0.0625rem dotted $white;

        &:hover {
            color: $white;
            border-color: $blue_1;
        }

        &:visited {
            color: $blue_alpha_6;
            border-bottom: 1px dotted $blue_alpha_6;
        }
    }

    h4 {
        padding: 0;
        line-height: 1rem;
    }

}

.reference {
    color: grey;
    text-align: left;
    width: 60vw;

    @include tablet {
        @include span-90();
    }

    @include mobile {
        @include span-90();
    }

    @include small-mobile {
        @include span-90();
    }
}

.download-wrapper {
    width: 60vw;
    text-align: left;
    .downloads {
        list-style: square;
        padding-left: 1rem;
    }

    @include tablet {
        @include span-90();
    }

    @include mobile {
        @include span-90();
    }

    @include small-mobile {
        @include span-90();
    }
}