@import './project_mixins';

.current-project {
    @include flex();
    @include flex-column();
    @include flex-center();
    @include span-50();
    margin: 0 auto 2rem auto;
    padding-bottom: 1rem;
    line-height: 1.5rem;
    border-bottom: 0.0625rem solid var(--primary-color);

    img {
        @include project-img();
        object-fit: contain;
        margin-right: 2rem;
    }

    .current-project-header {
        @include flex();
        width: 100%;

        img {
            @include project-img();
            border: 0;
            border-radius: 0;

            @include tablet {
                @include mobile-header-img();
                width: 30vw;
            }

            @include mobile {
                @include mobile-header-img();
            }

            @include small-mobile {
                @include mobile-header-img();
            }
        }

        span {
            color: var(--primary-color);
        }

        @include tablet {
            @include mobile-header();
            @include flex-column();
            align-items: center;
        }

        @include mobile {
            @include mobile-header();
        }

        @include small-mobile {
            @include mobile-header();
        }
    }

    @include tablet {
        @include span-80();
    }
}

.current-project-insert {
    @include flex();
    @include flex-wrap();
    align-items: center;
    @include span-50();
    text-align: left;
    padding-bottom: 1.5rem;
    line-height: 1.5rem;
    border-bottom: 0.0625rem dotted var(--secondary-color);
    margin-bottom: 2rem;

    img {
        @include project-img();
        object-fit: cover;
        object-position: center center;
        margin-right: 2rem;
        margin-bottom: 0;

        @include tablet {
            @include mobile-margin-right();
            @include mobile-project-img();
        }

        @include mobile {
            @include mobile-margin-right();
            @include mobile-project-img();
        }

        @include small-mobile {
            @include mobile-margin-right();
            @include mobile-project-img();
        }
    }

    h5 {
        color: var(--primary-color);
    }

    .skills-header {
        color: var(--text-color);
        margin: 0;
    }

    @include tablet {
        @include mobile-insert();
    }

    @include mobile {
        @include mobile-insert();
    }

    @include small-mobile {
        @include mobile-insert();
    }
}

.recent-presentation {
    display: block;
    margin: auto auto 2rem auto;

    a {
        @include flex();
        @include flex-center();
        background-color: var(--secondary-color);
        border-bottom: 0.0625rem dotted var(--primary-color);
        color: white;
        margin: auto;
        padding: .75rem 4rem;
        border-radius: 10rem;
        border: 0.0625rem solid var(--secondary-color);
        box-sizing: border-box;

        &:hover {
            color: var(--text-color);
            background-color: var(--primary-color);
            border: 0.0625rem solid var(--primary-color);
        }

        @include mobile {
            width: 75vw;
        }

        @include small-mobile {
            @include span-90();
        }

        img {
            height: 1rem;
            width: auto;
            border: none;
            border-radius: 0;
            margin: 0 1rem 0 0;

            &:hover {
                filter: invert(100%)
            }
        }
    }

    @include tablet {
        @include span-90();
    }

    @include mobile {
        @include span-90();
    }

    @include small-mobile {
        @include span-90();
    }
}

.feedback {
    @include span-50();

    li {
        @include flex();
        @include flex-wrap();
        align-items: center;
        text-align: left;
        padding: 2rem 0;
        border-bottom: 0.0625rem dotted var(--primary-color);
        line-height: 1.5rem;

        mark {
            width: 100%;
            color: var(--text-color);
            background-color: var(--primary-color-alpha-6);
            padding: 0.25rem 1.5rem;
            line-height: 2rem;
            border-radius: 10rem;

            span {
                color: var(--black-alpha);
            }
        }

        small {
            color: var(--primary-color);
        }

        a {
            color: var(--secondary-color);
            border-bottom: 0.0625rem dotted var(--background-color);

            &:hover {
                color: var(--text-color);
                border-color: var(--primary-color);
            }

            &:visited {
                color: var(--primary-color-alpha-6);
                border-bottom: 1px dotted var(--primary-color-alpha-6);
            }
        }

        q {
            font-weight: 300;
            font-size: 0.80rem;
            line-height: 1.5rem;
        }

        img {
            height: 2.5rem;
            width: auto;
            margin: 0 1rem 0 0;
        }
    }

    @include tablet {
        @include span-90();
    }

    @include mobile {
        @include span-90();
    }

    @include small-mobile {
        @include span-90();
    }
}