@import '../global/mixins';

@mixin synopsis-loading-background($border-color, $border-width) {
    background-color: $black_alpha_7;
    border: $border-width solid $border-color;
    margin-bottom: 2rem;
    position: relative;
}

@mixin synopsis-image {
    width: 100%;
    height: 30rem;
}

@mixin small-synopsis-image {
    width: 100%;
    height: 10rem;
}

.loading-icon {
    @include flex;
    @include flex-column();
    @include flex-center();
    @include synopsis-loading-background($black, .25rem);
    @include synopsis-image();

    .loading-graphic {
        @include loading-graphic-config(8rem);
    }

    img {
        @include loading-graphic-image();
    }


    @include mobile-width();
}

.small-loading-icon {
    @include flex;
    @include flex-column();
    @include flex-center();
    @include synopsis-loading-background($black_alpha_7, .25rem);
    @include small-synopsis-image();

    .loading-graphic {
        @include loading-graphic-config(4rem);
    }

    img {
        @include loading-graphic-image();
    }

    @include mobile-width();
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes no-rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.synopsis {
    @include flex();
    @include flex-column();
    align-items: flex-start;
    @include span-50();
    text-align: left;
    position: relative;

    .back-link {
        @include flex();
        @include flex-center();
        @include full-width();
        justify-content: center;
        padding: 0 0 2rem 0;
        margin: 2rem auto 3rem auto;
        border-bottom: 1px dotted grey;

        img {
            height: 2rem;
            width: auto;
            border: 0;
            border-radius: 0;
            margin: 0 1rem 0 0;
        }

        &:hover {
            color: $white;
            border-bottom: 1px dotted grey;
        }

        &:visited {
            border-bottom: 1px dotted grey;
        }
    }

    .back-link-footer {
        @include flex();
        @include flex-center();
        @include full-width();
        justify-content: center;
        border-bottom: none;
        padding-top: 2rem;
        margin: 2rem auto 0 auto;
        border-top: 1px dotted grey;

        img {
            height: 2rem;
            width: auto;
            border: 0;
            border-radius: 0;
            margin: 0 1rem 0 0;
        }

        &:hover {
            color: $white;
            border-top: 1px dotted grey;
            border-bottom: none;
        }
    }

    .background {
        box-sizing: border-box;
        display: block;
        @include synopsis-image();
        object-fit: cover;
        object-position: top;
        border-radius: 0;
        animation: fade 1s;
        border: .5rem solid $black;

        @include mobile-width();
    }

    .project-skills-header {
        @include skills-header();
        margin: 0;
    }

    .skills {
        @include flex();
        @include flex-wrap();
        width: 100%;
        justify-content: flex-start;
        align-items: center;

        li {
            @include skill-pill();
        }

        @include tablet {
            padding-left: 0;
        }

        @include mobile {
            padding-left: 0;
        }

        @include small-mobile {
            padding-left: 0;
        }
    }

    .project-details {
        padding: 1rem 0 1rem 0;
        height: auto;
        line-height: 1.5rem;
    }

    .presentation-link {
        padding: 0rem 0 2rem 0;
    }

    a {
        @include content-link();
    }

    p {
        @include flex();
        justify-content: flex-start;
        align-items: center;

        svg {
            fill: $blue_1;
            margin-right: 1rem;
        }
    }

    button {
        margin: -5rem 1rem 2rem auto;
        background: transparent;
        border: none;
        z-index: 998;
        cursor: pointer;

        img {
            height: 2rem;
            width: auto;
            margin: 0 0 0 auto;
            border: 0;
            border-radius: 0;
        }
    }

    .related-project {
        width: 50vw;
        background-size: cover;
        background-position: 50% 20%;
        margin-top: 1rem;
        border: .125rem solid $black;
        box-sizing: border-box;

        .related-project-wrapper {
            @include flex();
            @include flex-column();
            justify-self: stretch;
            flex-basis: 100%;
            background-color: $black_alpha_7;
            padding: 1rem 1rem 2rem 1rem;
            margin-top: 4rem;

            h5 {
                display: block;
                width: 50%;
                color: $blue_1;
                @include content-link();
                margin: 0 0 1rem 0;
                padding: 0;
                cursor: pointer;

                @include tablet {
                    width: 100%;
                }

                @include mobile {
                    width: 100%;
                }

                @include small-mobile {
                    width: 100%;
                }
            }

            h6 {
                margin: 0 0 1rem 0;
            }
        }

        @include tablet {
            @include span-90()
        }

        @include mobile {
            @include span-90()
        }

        @include small-mobile {
            @include span-90()
        }
    }


    @include tablet {
        @include span-90()
    }

    @include mobile {
        @include span-90()
    }

    @include small-mobile {
        @include span-90()
    }

    .project-display-grid {
        @include grid();
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1rem;
        width: 100%;
        margin-bottom: 2rem;
        animation: fade 1s;

        .image {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: .25rem solid $black;
                border-radius: 0;
                box-sizing: border-box;
            }

            &:nth-child(1) {
                grid-column: span 4;
                grid-row: span 2;
            }

            &:nth-child(2) {
                grid-column: span 2;
            }

            &:nth-child(3) {
                grid-column: span 2;
            }

            &:nth-child(4) {
                grid-column: span 3
            }

            &:nth-child(5) {
                grid-column: span 3
            }
        }
    }
}