.tag-line {
    color: $white;
    padding: 1rem 0 0 0;
}

.angular-version {
    color: $white;
    font-size: .75rem;
    @include flex();
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $background_color;
    margin: 0;
    padding: 1rem 0;

    img {
        margin: 0 .5rem;
    }
}

.privacy-policy-footer {
    @include flex();
    align-items: center;

    a {
        @include content-link();
        color: $white;
    }

    img {
        height: 1rem;
        margin-right: 1rem;
    }
}