@mixin mobile-header {
  @include background-image-config('background.webp', 100vmax);
  padding-bottom: 1rem;
}

@mixin background-image-config($name, $size, $no-repeat: true) {
  background-image: url('../../img/#{$name}');
  background-attachment: fixed;
  background-size: $size;

  @if($no-repeat) {
    background-repeat: no-repeat;
  }
}

@mixin skill-pill {
  @include flex();
  justify-content: flex-start;
  align-items: center;
  font-size: .75rem;
  padding: .25rem .75rem;
  color: $white;
  border: 0.0625rem solid $grey;
  border-radius: 10rem;
  margin-top: .5rem;
  margin-right: .25rem;
  line-height: 1.5rem;

  img {
    width: 1rem;
    height: 1rem;
    margin: 0 .25rem 0 0;
    border: 0;
    border-radius: 0;

    @include tablet {
      margin: 0;
    }

    @include mobile {
      margin: 0;
    }

    @include small-mobile {
      margin: 0;
    }

    @include small-desktop {
      margin: 0;
    }
  }

  @include tablet {
    width: 1rem;
    height: 1rem;
    margin: 0 .25rem .25rem 0;
  }

  @include mobile {
    width: 1rem;
    height: 1rem;
    margin: 0 .25rem .25rem 0;
  }

  @include small-mobile {
    width: 1rem;
    height: 1rem;
    margin: 0 .25rem .25rem 0;
  }

  span {
    @include tablet {
      @include mobile-hidden();
    }

    @include mobile {
      @include mobile-hidden();
    }

    @include small-mobile {
      @include mobile-hidden();
    }
  }
}

@mixin skills-header() {
  width: 100%;
  margin: 1rem 0 0 9rem;
  color: $grey;
  padding: 1rem 0 0 0;

  @include tablet {
    margin: 1rem 0 0 0rem;
  }

  @include mobile {
    margin: 1rem 0 0 0rem;
  }

  @include small-mobile {
    margin: 1rem 0 0 0rem;
  }
}

@mixin mobile-height {
  height: 15rem;
}

@mixin mobile-width {
  @include tablet {
    @include mobile-height();
    @include span-90();
  }

  @include mobile {
    @include mobile-height();
    @include span-90();
  }

  @include small-mobile {
    @include mobile-height();
    @include span-90();
  }
}

@mixin loading-graphic-config($size) {
  @include flex;
  @include flex-column();
  @include flex-center();
  height: $size;
  width: $size;
  @include background-image-config('loading_icon.svg', 100%, true);
  background-position: center center;
  animation: rotation 1s infinite linear;
  border-radius: 100rem;
  border: 1px solid $bsp_1;
}

@mixin loading-graphic-image {
  position: absolute;
  margin: 0;
  height: 3rem;
  width: 3rem;
  border: none;
}

@mixin no-margin {
  margin: 0;
}

@mixin content-link {
  color: $grey;
  border-bottom: 1px dotted $white;

  &:hover {
    color: $white;
    border-bottom: 1px dotted $bsp_1;
  }

  &:visited {
    color: $bsp_alpha_6;
    border-bottom: 1px dotted $bsp_alpha_6;
  }
}

@mixin rotate {
  animation: rotation 900ms;

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

@mixin grow($duration) {
  animation: grow $duration;

  @keyframes grow {
    from {
      transform-origin: top center;
      transform: scaleY(0);
      opacity: 0;
    }

    to {
      transform-origin: top center;
      transform: scaleY(100%);
      opacity: 1;
    }
  }
}

@mixin code-background($color, $image, $text) {
  border-left: 3px solid $color;
  background-image: url('../../img/#{$image}');
  background-repeat: no-repeat;
  background-position: 1% 5%;
  background-size: 1rem;

  &:after {
    font-family: 'Nunito', sans-serif;
    color: $grey-light;
    font-size: .75rem;
    content: $text;
  }
}

@mixin code-snippet-color($color) {
  color: $color;
  font-weight: bold;
}

@mixin back-link($bordertop: true) {
  @include flex();
  @include flex-center();
  @include full-width();
  justify-content: center;
  padding: 0 0 2rem 0;
  margin: 2rem auto 3rem auto;

  @if($bordertop) {
    border-top: 1px dotted $grey;
    padding: 2rem 0 0 0;

    &:hover {
      color: $white;
      border-top: 1px dotted $grey;
    }

    &:visited {
      border-top: 1px dotted $grey;
    }
  }

  @else {
    border-bottom: 1px dotted $grey;
    padding: 0 0 2rem 0;

    &:hover {
      color: $white;
      border-bottom: 1px dotted $grey;
    }

    &:visited {
      border-bottom: 1px dotted $grey;
    }
  }


  img {
    height: 2rem;
    width: auto;
    border: 0;
    border-radius: 0;
    margin: 0 1rem 0 0;
  }

  // &:hover {
  //   color: $white;
  //   border-bottom: 1px dotted $grey;
  // }

  // &:visited {
  //   border-bottom: 1px dotted $grey;
  // }
}

@mixin read-more {
  color: $white;
  @include flex-column();
  width: auto;
  height: 1rem;
  border-radius: 2rem;
  padding: 0.45rem 1rem;
  font-size: .75rem;
  border: 0.0625rem solid;
  font-weight: 400;
  background-color: $bsp_alpha_6;
  margin-left: auto;
  flex-shrink: 1;

  &:hover {
    color: $black_alpha_7;
    background-color: $white;
  }
}

@mixin mobile-no-animation {
  animation: none !important;
}

@mixin grid-context() {
  @include grid();
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  @include showcase-grid-transition(0.5s);
  @include span-95();

  span {
    .project-details {
      .project-blurb {
        @include flex-column();
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 1rem 2rem 1rem;

        a {
          margin-left: auto;
        }
      }

      .skill-pills-mini {
        li {
          @include flex-wrap();
          margin-right: .5rem;
        }
      }
    }
  }

  @include tablet {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @include span-90();
    @include mobile-no-animation();
  }

  @include mobile {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @include span-90();
    @include mobile-no-animation();
  }

  @include small-mobile {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @include span-90();
    @include mobile-no-animation();
  }

  @include mobile {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 100%;
  }

  @include small-mobile {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 100%;
  }
}

@mixin mobile-projects {
  @include span-90();
  @include flex-column();
}

@mixin mobile-no-animation {
  animation: none !important;
}

@mixin loading-graphic {
  width: 100%;
  height: 100vh;
}

@mixin mobile-height {
  height: 15rem;
}

@mixin mobile-width {
  @include tablet {
    @include mobile-height();
    @include span-90();
  }

  @include mobile {
    @include mobile-height();
    @include span-90();
  }

  @include small-mobile {
    @include mobile-height();
    @include span-90();
  }
}