@import "./mixins";

$background: "background.webp";

@mixin mobile-icon {
  height: 6rem;
  width: 6rem;
}

.header-section {
  @include flex();
  @include span-100();
  height: 70vh;
  justify-content: flex-start;
  padding: 0;
  @include background-image-config($background, 100%, $no-repeat: true);
  position: relative;

  .content-wrapper {
    width: 50vw;
    @include flex();
    @include flex-column();
    justify-content: center;
    text-align: left;
    padding-left: 4rem;

    h1 {
      font-size: 4rem;
      padding-bottom: 0;
      font-family: "Caveat", cursive;

      q {
        color: $bsp_1;
      }

      span {
        color: $white !important;
        padding: 0 0.25rem;
        margin-right: 0.25rem;
        font-weight: 300;

        &:first-of-type {
          color: $bsp_1 !important;
          font-weight: 300;
          background-color: transparent;
        }

        &:last-of-type {
          color: $black_alpha_7 !important;
          background-color: $bsp_alpha_6;
        }
      }

      @mixin mobile-header-one {
        font-size: 1.75rem;
        line-height: 3rem;
        padding: 0;
        text-align: center;
      }

      @include tablet {
        font-size: 2rem;
        line-height: 2.5rem;
        padding: 0;
      }

      @include mobile {
        @include mobile-header-one();
      }

      @include small-mobile {
        @include mobile-header-one();
        width: 70vw;
        text-align: center;
      }
    }

    h2 {
      font-weight: 200;
      padding-bottom: 0;

      span {
        color: $white;
        font-weight: 700;

        &:first-of-type {
          color: $bsp_1;
          font-weight: 300;
        }

        &:last-of-type {
          color: $black_alpha_7;
          background-color: $bsp_alpha_6;
          font-weight: 500;
          padding: 0 0.25rem;
          margin-right: 0.25rem;
        }
      }

      @mixin mobile-header-two {
        font-size: 1.5rem;
        line-height: 3rem;
        padding: 0;
        text-align: center;
      }

      @include tablet {
        font-size: 1.25rem;
        line-height: 1.5rem;
      }

      @include mobile {
        @include mobile-header-two();
      }

      @include small-mobile {
        @include mobile-header-two();
      }
    }

    h3 {
      display: flex;
      flex-direction: column;
      font-size: 2.5rem;
      line-height: 3.5rem;
      font-weight: 200;
      text-align: left;
      padding: 2rem 0 0 0;
      margin: 0;

      span {
        padding-right: 1rem;

        &:first-of-type {
          color: $bsp_1;
          font-weight: 700;
        }

        &:last-of-type {
          color: $bsp_1;
          font-weight: 700;
        }
      }

      @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
      }

      @include mobile {
        font-size: 1.5rem;
        line-height: 2rem;
      }

      @include small-mobile {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }

    @include tablet {
      padding-left: 3rem;
    }

    @mixin mobile-content-wrapper {
      margin: 2rem auto 0 auto;
      text-align: center;
      padding-left: 0;
    }

    @include mobile {
      @include mobile-content-wrapper();
    }

    @include small-mobile {
      @include mobile-content-wrapper();
      width: 70vw;
    }

    .skills {
      padding: 0 0 1.5rem 0;
      flex-direction: column;
      align-items: flex-end;
      align-self: center;
      position: absolute;
      right: 2.5rem;
      width: 3rem;

      @include tablet {
        flex-direction: row;
        position: unset;
        width: auto;
      }

      @include small-mobile {
        display: none;
      }

      @include mobile {
        display: none;
      }

      img {
        width: auto;
        border: 0;
        border-radius: 0;
        height: 1.5rem;
        margin: 0.75rem;
        background-color: $black_background;
        padding: 0.45rem;
        border-radius: 10rem;

        @include tablet {
          margin: 0 1rem 1rem 0;
        }

        @include mobile {
          margin: 0 1rem 1rem 0;
        }

        @include small-mobile {
          margin-right: 0.5rem;
        }
      }
    }

    .email {
      @include flex();
      align-items: center;
      margin: 2rem 0;

      svg {
        margin-right: 1rem;
      }
    }
  }

  .avatar {
    display: block;
    width: 30vw;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("../../img/me/avatar.webp");

    @include tablet {
      background-size: cover;
      width: 50vw;
      height: 70vh;
    }

    @include mobile {
      background-size: cover;
      width: 100vw;
      height: 70vh;
    }

    @include small-mobile {
      background-size: cover;
      width: 100vw;
      height: 50vh;
    }
  }

  img {
    @include tablet {
      @include mobile-icon();
    }

    @include mobile {
      @include mobile-icon();
    }

    @include small-mobile {
      @include mobile-icon();
    }
  }

  .location-wrapper {
    @include flex();
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
    z-index: 10;

    p {
      margin: 0;

      @include tablet {
        width: auto;
      }
    }

    a {
      @include content-link();
      color: $white;
    }

    svg {
      margin-right: 0.5rem;
    }

    @include mobile {
      display: none;
    }

    @include small-mobile {
      display: none;
    }
  }

  .scroll-down {
    height: 1rem;
    width: 2rem;
    border: none;
    border-radius: 0;
    margin: 6rem 0 0 0;

    @include small-mobile {
      margin: 2rem auto 0 auto;
    }

    @include mobile {
      margin: 2rem auto 0 auto;
    }
  }

  @include tablet {
    @include background-image-config($background, cover);
  }

  @include mobile {
    flex-direction: column-reverse;
    background-size: cover;
    height: 70vh;
    padding-bottom: 0;
  }

  @include small-mobile {
    flex-direction: column-reverse;
    background-size: cover;
    height: 75vh;
    padding-bottom: 0;
  }

  p {
    @include tablet {
      @include span-95();
    }
  }
}
