@mixin mobile-company-logo {
    width: 2.75rem;
    height: auto
}

.companies-wrapper {
    @include span-90();
    @include flex();
    @include flex-wrap();
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;

    img {
        height: 1.5rem;
        width: auto;

        @include tablet {
            @include mobile-company-logo();
        }

        @include mobile {
            @include mobile-company-logo();
        }

        @include small-mobile {
            @include mobile-company-logo();
        }
    }

    .icon {
        margin: 1rem auto;
    }
}